[submodule "PoliticalDebateApp_iOSTests/PoliticalDebateApp_BackendStubs"]
	path = PoliticalDebateApp_iOSTests/PoliticalDebateApp_BackendStubs
	url = https://github.com/samyachour/PoliticalDebateApp_BackendStubs.git
